<h1>User List</h1>
<a routerLink="/add" type="button" class="btn btn-primary">Add User</a>
<div>
  <a routerLink="/home" type="button" class="btn btn-primary" style="float:right;" >Back</a>
</div>
<table  class="table table-striped">
    <thead>
        <tr>
          <th scope="col"> Id </th>
          <th scope="col"> Name </th>
          <th scope="col"> Email </th>
          <!-- <th scope="col"> Password </th> -->
          <th scope="col"> DOB </th>
          <th scope="col"> Edit </th>
          <th scope="col"> Delete </th>
    </thead>
    <tbody>
        <tr *ngFor="let todo of Todos  | paginate: config">
            <th scope="row">{{todo.userId}}</th>
            <td>{{todo.userName | titlecase}}</td>
            <td>{{todo.userEmail}}</td>
            <!-- <td>{{todo.userPassword|password }}</td> -->
            <td>{{todo.userDOB }}</td>
            <td><a routerLink="/edit" [queryParams]="{id: todo.userId }" class="btn btn-primary"  >Edit</a></td>
           <!-- <td> <button (click)="deleteTodo(todo.userId)"  class="btn btn-primary">Delete</button></td> -->
          <td>   <button (click)="deleteTodo(todo.userId)" class="btn btn-sm btn-danger btn-delete-user" >
            <!-- <span *ngIf="todo.isDeleting" class="spinner-border spinner-border-sm"></span> -->
            <!-- <span *ngIf="todo.isDeleting">Delete</span> -->
            Delete
        </button>
          </td>
        </tr>
        <tr *ngIf="!Todos">
          <td colspan="4" class="text-center">
              <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
      </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
