<!-- <h1>Todo List</h1>
<a routerLink="/User" type="button" class="btn btn-primary">Add Todo</a>


<table  class="table table-striped">
    <thead>
        <tr>
          <th scope="col"> Id </th>
          <th scope="col"> Name </th>
          <th scope="col"> Email </th>
          <th scope="col"> Password </th>
          <th scope="col"> DOB </th>
          <th scope="col"> Edit </th>
          <th scope="col"> Delete </th>
    </thead>
    <tbody>
        <tr *ngFor="let todo of Todos">
            <th scope="row">{{todo.userId}}</th>
            <td>{{todo.userName | titlecase}}</td>
            <td>{{todo.userEmail}}</td>
            <td>{{todo.userPassword}}</td>
            <td>{{todo.userDOB }}</td>
            <td><a routerLink="/edit" [queryParams]="{id: todo.userId }"  >Edit</a></td> <!-- /edittodo?id=1-->
            <!-- <td><a routerLink="/deletetodo" [queryParams]="{id: todo.userId }">Delete</a></td> -->
          <!-- <td> <button (click)="deleteTodo(todo.userId)" >Delete</button></td>
        </tr>
    </tbody>
</table> -->
