


  <div class="container">
    <h1>Create User</h1>
    <div>
      <a routerLink="/list" type="button" class="btn btn-primary" style="float:right;" >Back</a>
    </div>
<br>
    <form [formGroup]="EmpForm" (ngSubmit)="saveTodo()" >
      <!-- <input type="hidden" id="name" formControlName="userId" [(ngModel)] = User.UserId/> -->
      <div>
          <label>Name</label>
          <input type="text" id="UserName" class="form-control" formControlName="UserName" [(ngModel)] = User.userName/>
          <div *ngIf="EmpForm.controls['UserName'].invalid && EmpForm.controls['UserName'].touched" class="alert alert-danger">
            <div *ngIf="EmpForm.controls['UserName'].errors">
            Name is required.
          </div>
        </div>
      </div>
      <div>
          <label>Email</label>
          <input type="text" id="UserEmail" class="form-control" formControlName="UserEmail"  [(ngModel)] = User.userEmail/>
          <div *ngIf="EmpForm.controls['UserEmail'].invalid && EmpForm.controls['UserEmail'].touched" class="alert alert-danger">
            <div *ngIf="EmpForm.controls['UserEmail'].errors">
            Email required.
          </div>
        </div>
      </div>

      <div *ngIf="emailAlredyExist != ''" class="alert alert-danger">
        {{emailAlredyExist}}
      </div>

      <div>
          <label>Password</label>
          <input type="password" id="UserPassword" class="form-control" formControlName="UserPassword"  [(ngModel)] = User.userPassword/>
          <div *ngIf="EmpForm.controls['UserPassword'].invalid && EmpForm.controls['UserPassword'].touched" class="alert alert-danger">
            <div *ngIf="EmpForm.controls['UserPassword'].errors">
              Password required.
          </div>
        </div>

      </div>

      <div>
        <label>DOB</label>
     <!-- <input type="text" id="UserDOB" class="form-control" formControlName="UserDOB"  [(ngModel)] = User.userDOB/>
        <div *ngIf="EmpForm.controls['UserDOB'].invalid && EmpForm.controls['UserDOB'].touched" class="alert alert-danger">
          <div *ngIf="EmpForm.controls['UserDOB'].errors">
            DOB required.
        </div>
      </div> -->

       <div class="">
      <input type="text" class="form-control" formControlName="UserDOB" placeholder="Datepicker" bsDatepicker formControlName="date" [minDate]="" [maxDate]="today" />
      <pre *ngIf="EmpForm.value.userDOB" class="code-preview">{{EmpForm.value.userDOB|date: 'dd/MM/yyyy' }}</pre>

    </div>





    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!EmpForm.valid"> Save </button>
      <a routerLink="/list" type="button" class="btn btn-dark">Back</a>
    </div>

  </form>
  </div>
