<!--
  <form [formGroup]="EmpForm" (ngSubmit)="saveTodo()" >

    <div>
        <label>Name</label>
        <input type="text" id="UserName" formControlName="UserName" [(ngModel)] = User.userName/>
    </div>
    <div>
        <label>Email</label>
        <input type="text" id="UserEmail" formControlName="UserEmail"  [(ngModel)] = User.userEmail/>
    </div>
    <div>
        <label>Passweod</label>
        <input type="text" id="UserPassword" formControlName="UserPassword"  [(ngModel)] = User.userPassword/>
    </div>

    <div>
      <label>DOb</label>
      <input type="text" id="UserDOB" formControlName="UserDOB"  [(ngModel)] = User.userDOB/>
  </div>
    <button type="submit"> Save </button>
    <a routerLink="/list" type="button" class="btn btn-dark">Back</a>
</form>
 -->
